@font-face {
    font-family: "Berkeley Mono Trial";
    src: url("BerkeleyMonoTrial-Regular.otf") format("opentype");
  }
  body {
    font-family: "Berkeley Mono Trial", monospace;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: transparent;
    color: black;
    transition: color 0.3s;
  }
  body.dark-mode table th {
    color: white;
  }
  body.dark-mode table td {
    border-color: white;
  }
  table td {
    padding: 5px;
    font-size: 0.8em;
  }
  .version-display {
    text-align: right;
    margin-bottom: 40px;
  }
  .version-display .prod {
    background-color: green;
    color: white;
    padding: 2px 6px;
  }
  .version-display .version {
    background-color: grey;
    color: white;
    padding: 2px 6px;
  }
  .main-content {
    display: flex;
    flex-wrap: wrap;
  }
  .main-content > section {
    flex: 1;
    padding: 20px;
    margin-bottom: 40px;
}
.character-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.character-box > div {
  width: 48%;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
}
@media (max-width: 767px) {
  .main-content {
    flex-direction: column;
  }
}
body.dark-mode {
  background-color: #1E1E1E;
  color: white;
}
.toggle-dark-mode {
  background-color: #1E1E1E;
  color: white;
  padding: 2px 6px;
  cursor: pointer;
  margin-right: 5px;
}
body.dark-mode .toggle-dark-mode {
  background-color: white;
  color: #1E1E1E;
}
.condensed-table {
  table-layout: auto;
}